.category-page {
    display: flex;
    .side-bar {
        width: 15%;
        position: relative;
        height: 100%;
        display: inline-block;
        .block {
            .title {
                margin-bottom: 0;
            }
            a {
                color: #333;
                &:hover {
                    color: $blue2;
                    text-decoration: none;
                }
            }
            .items {
                .item {
                    &.active {
                        font-weight: 700;
                    }
                    &.prev-item {
                        position: relative;
                        &:after {
                            content: "\F053";
                            top: 50%;
                            font: normal normal normal .7rem FontAwesome;
                            position: absolute;
                            left: -12px;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
        &:after {
            content: "";
            width: 1px;
            height: 80%;
            position: absolute;
            top: 10%;
            right: 0;
            background-color: #777;
        }
    }
    .content {
        display: inline-block;
        vertical-align: top;
        flex: 2;
        .products {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .product {
                width: calc((100% / 3) - 20px);
                margin-left: 10px;
                margin-bottom: 20px;
                background-color: #fff;
                padding: 10px;
                &:nth-child(3n + 1) {
                    margin-left: 4px;
                }
                &:nth-child(3n + 0) {
                    margin-right: 4px;
                }
                &:nth-child(3n + 1):last-child {
                    margin: 0;
                }
                &:nth-child(3n + 2):last-child {
                    margin: 0;
                }
                .image {
                    margin: 10px auto;
                    text-align: center;
                    img {
                        margin: auto;
                        display: inline-block;
                        height: 150px;
                    }
                }
                .middle {
                    margin-bottom: 10px;
                    .name {
                        font-weight: 700;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        max-width: 400px;
                    }
                    .trader {
                        font-size: .9rem;
                        margin-top: -6px;
                        color: #777;
                        margin-left: 9px;
                        display: block;
                    }
                }
                .price {
                    font-size: 1.3rem;
                    font-weight: 500;
                    .dollar-sign {
                        font-size: .8rem;
                        vertical-align: text-top;
                    }
                }
                .rate {
                    .stars {
                        display: inline-block;
                        margin-right: 5px;
                        position: relative;
                        top: 5px;
                        cursor: pointer;
                        .star {
                            position: relative;
                            -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
                            clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
                            width: 24px;
                            height: 24px;
                            display: inline-block;
                            background-color: #e17c22;
                            &:before{
                                content: "";
                                -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
                                clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
                                width: 16px;
                                height: 16px;
                                position: absolute;
                                top: 4px;
                                left: 4px;
                                display: inline-block;
                            }
                            &.fill {
                                &:before {
                                    background-color: #ffa41c;
                                }
                            }
                            &:not(.fill) {
                                &:before {
                                    background-color: #fff;
                                }
                            }
                        }
                        &:after {
                            content: "\F053";
                            font: normal normal normal 0.6rem FontAwesome;
                            display: inline-block;
                            transform: rotate(
                                    270deg
                            );
                            position: relative;
                            color: #777;
                            top: -2px;
                            padding-left: 10px;
                        }
                    }
                    .rate {
                        &:hover {

                        }
                    }
                }
            }
        }
    }
}
