.category-page {
    display: flex;
    .side-bar {
        width: 15%;
        position: relative;
        height: 100%;
        display: inline-block;
        .block {
            .title {
                margin-bottom: 0;
            }
            a {
                color: #333;
                &:hover {
                    color: $blue2;
                    text-decoration: none;
                }
            }
            .items {
                .item {
                    cursor: pointer;
                    &:hover {
                        color: $blue2;
                    }
                    &.active {
                        font-weight: 700;
                    }
                    &.prev-item {
                        position: relative;
                        &:after {
                            content: "\F053";
                            top: 50%;
                            font: normal normal normal .7rem FontAwesome;
                            position: absolute;
                            left: -12px;
                            transform: translateY(-50%);
                        }
                    }
                    &.brand {
                        position: relative;
                        input[type='checkbox'] {
                            margin-right: 5px;
                            &:after {
                                content: "";
                                cursor: pointer;
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                            }
                        }
                    }
                }
            }
            .all-prices {
                margin: 0 0 5px 20px;
                cursor: pointer;
                position: relative;
                &:hover {
                    color: $blue2
                }
                &:before {
                    content: "\F053";
                    font: normal normal normal 0.6rem FontAwesome;
                    position: absolute;
                    left: -9px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .custom-price {
                .custom-min-price, .custom-max-price {
                    display: inline-block;
                    width: 50px;
                    border-radius: 5px;
                    border: 1px solid #777;
                    vertical-align: middle;
                }
                .go {
                    padding: 1px 13px;
                    margin-left: 3px;
                }
            }
        }
        &:after {
            content: "";
            width: 1px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background-color: #777;
        }
    }
    .content {
        display: inline-block;
        vertical-align: top;
        flex: 2;
        .products {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .product {
                width: calc((100% / 3) - 20px);
                margin-left: 10px;
                margin-bottom: 20px;
                background-color: #fff;
                padding: 10px;
                position: relative;
                &:hover {
                    .middle .name, .middle .trader, .price {

                        text-decoration: none;
                    }
                }
                &:nth-child(3n + 1) {
                    margin-left: 4px;
                }
                &:nth-child(3n + 0) {
                    margin-right: 4px;
                }
                &:nth-child(3n + 1):last-child {
                    margin: 0;
                }
                &:nth-child(3n + 2):last-child {
                }
                .link {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
                .image {
                    margin: 10px auto;
                    text-align: center;
                    img {
                        margin: auto;
                        display: inline-block;
                        height: 150px;
                    }
                }
                .middle {
                    margin-bottom: 10px;
                    .name {
                        font-weight: 700;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        max-width: 400px;
                        color: #333;
                    }
                    .trader {
                        font-size: .9rem;
                        margin-top: -6px;
                        color: #777;
                        margin-left: 9px;
                        display: block;
                    }
                }
                .price {
                    font-size: 1.3rem;
                    font-weight: 500;
                    color: #333;
                    .dollar-sign {
                        font-size: .8rem;
                        vertical-align: text-top;
                    }
                }
                .rate {
                    .rate {
                        &:hover {

                        }
                    }
                }
            }
        }
        .pagination {
            justify-content: center;
        }
    }
}
