.data-and-security {
    margin-bottom: 20px;
    .container {
        width: 40%;
        .title {
            font-size: 1.6rem;
            font-weight: 400;
            padding-bottom: 5px;
        }
        .content {
            padding: 0;
            border: .5px solid #ccc;
            border-radius: 5px;
            .item {
                border-bottom: .5px solid #ccc;
                padding: 10px;
                display: flex;
                .edit {
                    display: none;
                }
                .non-edit {
                    display: block;
                }
                &.edit {
                    .edit {
                        display: block;
                    }
                    .non-edit {
                        display: none;
                    }
                }
                &.password-item {
                    .left {
                        .password-field {
                            padding-bottom: 5px;
                        }
                    }
                }
                .left {
                    width: 80%;
                    .title {
                        font-size: 1.2rem;
                        padding: 0;
                    }
                    input {
                        border-radius: 5px;
                        border: none;
                        border: 1px solid #777;
                        padding: 1px 5px;
                    }
                }
                .right {
                    display: flex;
                    align-items: center;
                    .btn {
                        border: .5px solid #ccc;
                        padding: 5px 15px;
                        transition: all .5s ease-in-out;
                        &:hover {
                            background-color: #ddd;
                        }
                    }
                }
            }
        }
        .done-btn {
            color: #fff;
            background-color: $blue1;
            border-radius: 7px;
            padding: 5px 15px;
            transition: all .5s ease-in-out;
            font-size: 1.1rem;
            &:hover {
                background-color: $blue2;
                text-decoration: none;
            }
        }
    }
}