.home-page {
    .upper-nav {
        overflow: hidden;
        padding: 5px 0;
        background-color: #1b1e21;
        .nav-list {
            list-style: none;
            margin: 0;
            display: inline-flex;
            font-size: .85rem;
            padding-left: 0;
            .item {
                position: relative;
                &:not(:last-child):after {
                    content: "";
                    width: 1px;
                    height: 100%;
                    background-color: #aaa;
                    position: absolute;
                    right: 0;
                }
            }
        }
        .left-list {
            float: left;
            font-size: .7rem;
            color: #aaa;
            .item {
                padding: 0 5px;
            }
        }
        .right-list {
            float: right;
            font-size: .85rem;
            color: #ddd;
            .item {
                padding: 0 8px;
            }
        }
    }
    .main-nav {
        padding: 5px 0;
        .logo {
            background-color: #eee;
            width: 100px;
            height: 60px;
            display: inline-block;
        }
        .search {
            display: inline-block;
            width: 65%;
            .search-form {
                vertical-align: bottom;
                padding-left: 10px;
                display: inline-flex;
                width: 100%;
                .category {
                    .select {
                        height: 100%;
                        border-radius: 20px 0 0 20px;
                        padding: 5px;
                        box-sizing: border-box;
                        border: none;
                        cursor: pointer;
                        background-color: #fff;
                        background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
                        display: grid;
                        grid-template-areas: "select";
                        align-items: flex-start;
                        position: relative;

                        &:not([type="submit"]) {
                            border: .5px solid #aaa;
                            padding-left: 25px;
                            padding-right: 25px;
                            font-size: .9rem;
                        }

                        &::after {
                            content: "";
                            width: 12px;
                            height: 8px;
                            background-color: #777;
                            clip-path: polygon(100% 0%, 0 0%, 50% 100%);
                            position: absolute;
                            top: 50%;
                            right: 7px;
                            transform: translateY(-50%);
                        }

                        select {
                            pointer-events: none;
                        }

                        .parent-group-input {
                            opacity: 0;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }

                        .parent-group-input-ui {
                            appearance: none;
                            background-color: transparent;
                            border: none;
                            width: 100%;
                            height: 100%;
                            grid-area: select;
                            font-family: inherit;
                            font-size: inherit;
                            cursor: inherit;
                            line-height: inherit;

                            .selected-option {
                                transition: all .5s ease-in-out;
                                line-height: 3;
                            }

                            .options {
                                position: absolute;
                                top: 100%;
                                left: 0;
                                height: 0;
                                white-space: nowrap;
                                transition: all 0.5s ease-in-out;
                                font-size: 0.9rem;
                                background-color: #fff;
                                overflow: auto;
                                border: none;
                                max-height: 295px;
                                ul {
                                    list-style: none;
                                }

                                .categories-options > ul {
                                    padding: 0;
                                }

                                .option {
                                    padding: 5px 10px 5px 25px;

                                    &:hover, &.active {
                                        background-color: #e5e5e5
                                    }
                                }

                                li {
                                    position: relative;

                                    &.parent {
                                        + ul {
                                            display: none;
                                        }

                                        .change-status {
                                            z-index: 5;
                                            width: 10px;
                                            height: 7px;
                                            left: 10px;
                                            top: 13px;
                                            background-color: #777;
                                            position: absolute;
                                            clip-path: polygon(100% 0%, 0 0%, 50% 100%);

                                        }

                                        &.open {
                                            + ul {
                                                display: block;
                                            }

                                            .change-status {
                                                transform: rotate(180deg);
                                            }
                                        }
                                    }
                                }
                            }

                            &.show {
                                .options {
                                    height: auto;
                                    border: 1px solid #333;
                                }
                            }

                            &::-ms-expand {
                                display: none;
                            }

                            &:focus {
                                outline: none;
                            }
                        }
                    }
                }
                .input {
                    flex: 2;
                    input {
                        background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
                        border-left: 0;
                        border-right: 0;
                        border-bottom: .5px solid #aaa;
                        border-top: .5px solid #aaa;
                        height: 100%;
                        width: 100%;
                        padding-left: 8px;
                    }
                }
                .search-btn {
                    position: relative;
                    input[type="submit"] {
                        background-color: $blue1;
                        border: .5px solid #aaa;
                        height: 100%;
                        border-radius: 0 5px 5px 0;
                        padding: 10px 15px;
                        font-size: 1.2rem;
                    }
                    &:after {
                        content: "\f002";
                        font: normal normal normal 14px/1 FontAwesome;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        color: #eee;
                    }
                }
            }
        }
    }
}
