// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
/**/
$blue1: #3498db;
$blue2: #2980b9;
$orange1: #e67e22;
$orange2: #d35400;
$red1: #e74c3c;
$red2: #c0392b;
$google1: #ef7267;
$google2: #ea4335;
$facebook1: #8597bf;
$facebook2: #3b5998;
