.users-page, .traders-page {
    .users, .traders {
        width: 100%;
        .user, .trader {
            width: 24%;
            display: inline-block;
            background-color: #f9fcff;
            margin-bottom: 20px;
            padding: 40px 10px;
            border-radius: 10px;
            text-align: center;
            .image {
                width: 110px;
                height: 110px;
                background-color: #eee;
                border-radius: 50%;
                margin: auto;
                border: #eee 1px solid;
                padding: 10px;
            }
            .name {
                margin-top: 10px;
                font-size: 1.25rem;
                font-weight: bold;
                color: #333
            }
            &:not(:nth-child(4n)) {
                margin-right: calc(4% / 3);
            }
        }
    }
}
